<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TEST#1 FOR CANDR | CASHING OUT</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>

<div class="container">
    <div class="row"><br />
        <h1 th:text="'Dear ' + ${username} + '! Do you REALLY want your money to be cashed out? You will leave our casino then.'"></h1><br /><br />
        <form class="form-inline justify-content-center" method="get" action="/quit">
            <div class="col">
                <button type="submit" class="btn btn-warning mb-3">Yes, give me my money!</button><br />
                <a style="color: #fff;" href="/">No, let's play more!</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>
